.card {
    width: 20%;
    height: max-content;
    text-align: center;
    border-radius: 20px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    display: block;
    padding: 30px 0px;
}

input {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    padding-left: 10px;
    margin-top: 25px;
}